@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* .container {
  position: relative;
}
* .container header {
  border: inherit;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 5%;
}
* .container header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
* .container header nav ul {
  width: 100%;
  border: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
* .container header nav ul a {
  text-decoration: none;
  color: rgb(41, 47, 54);
  transition: all 0.4s;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
}
* .container header nav ul a:hover {
  color: rgb(205, 162, 116);
}
@media screen and (max-width: 990px) {
  * .container header nav {
    display: none;
  }
}
* .container main .section_one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding: 0 5%;
  background: url("../image/sect1.png") no-repeat;
  background-size: 100% 100%;
}
* .container main .section_one .section_one_title h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: 0.22px;
  color: #292f36;
}
* .container main .section_one .section_one_title p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
}
* .container main .section_one .section_one_title a {
  margin-top: 35px;
  width: 40%;
  padding: 12px 34px;
  background: #292f36;
  border: 2px solid #292f36;
  border-radius: 18px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 21px;
}
* .container main .section_one .section_one_title a:hover {
  color: #292f36;
  background-color: rgb(205, 162, 116);
  transition: all 0.4s;
}
* .container main .section_one .section_one_title a:hover span svg path {
  stroke: #292f36;
}
* .container main .section_one .section_one_title a span {
  align-self: center;
}
@media screen and (max-width: 1024px) {
  * .container main .section_one {
    background-size: cover;
  }
}
@media screen and (max-width: 1100px) {
  * .container main .section_one .section_one_title {
    margin-top: 50px;
  }
  * .container main .section_one .section_one_title h1 {
    font-size: 60px;
    line-height: 76px;
  }
  * .container main .section_one .section_one_title p {
    font-size: 20px;
    line-height: 26px;
  }
  * .container main .section_one .section_one_title a {
    width: 40%;
    padding: 12px 24px;
  }
}
@media screen and (max-width: 890px) {
  * .container main .section_one .section_one_title {
    margin-top: 50px;
  }
  * .container main .section_one .section_one_title h1 {
    font-size: 40px;
    line-height: 46px;
  }
  * .container main .section_one .section_one_title p {
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;
  }
  * .container main .section_one .section_one_title a {
    width: 40%;
    padding: 6px 14px;
  }
  * .container main .section_one .section_one_title a svg {
    width: 20px;
  }
}
@media screen and (max-width: 650px) {
  * .container main .section_one {
    background-position: 50% 50%;
  }
}
@media screen and (max-width: 470px) {
  * .container main .section_one .section_one_title a {
    width: 70%;
  }
}
* .container main .section_two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 175px 5%;
  gap: 93px;
  text-align: center;
}
* .container main .section_two h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
}
* .container main .section_two p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-top: 17px;
}
* .container main .section_two a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #4d5053;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  margin-top: 68px;
  cursor: pointer;
  transition: all 0.4s;
}
* .container main .section_two a:hover {
  color: #cda274;
}
* .container main .section_two a:hover svg path {
  stroke: #e5e5e5;
}
@media screen and (max-width: 990px) {
  * .container main .section_two {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 850px) {
  * .container main .section_two {
    grid-template-columns: 1fr;
  }
}
* .container main .section_three {
  padding: 0 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 77px;
}
* .container main .section_three h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.22px;
  color: #292f36;
}
* .container main .section_three p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-top: 42px;
}
* .container main .section_three .section_three_title_call {
  margin-top: 46px;
  display: flex;
  align-items: center;
  gap: 20px;
}
*
  .container
  main
  .section_three
  .section_three_title_call
  .section_three_title_call_img {
  padding: 30px;
  background: #f4f0ec;
  border-radius: 100px;
}
*
  .container
  main
  .section_three
  .section_three_title_call
  .section_three_title_call_title {
  display: grid;
  align-content: center;
  align-items: center;
  display: inline-block;
}
*
  .container
  main
  .section_three
  .section_three_title_call
  .section_three_title_call_title
  h4 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.22px;
  color: #4d5053;
}
*
  .container
  main
  .section_three
  .section_three_title_call
  .section_three_title_call_title
  p {
  margin: 0;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
}
* .container main .section_three .section_three_link {
  margin-top: 35px;
  padding: 12px 34px;
  background: #292f36;
  border: 2px solid #292f36;
  border-radius: 18px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 21px;
}
* .container main .section_three .section_three_link:hover {
  color: #292f36;
  background-color: rgb(205, 162, 116);
  transition: all 0.4s;
}
* .container main .section_three .section_three_link:hover span svg path {
  stroke: #292f36;
}
* .container main .section_three .section_three_link span {
  align-self: center;
}
@media screen and (max-width: 1200px) {
  * .container main .section_three {
    grid-template-columns: 1fr;
    text-align: center;
  }
  * .container main .section_three .section_three_title {
    order: 2;
  }
  *
    .container
    main
    .section_three
    .section_three_title
    .section_three_title_call {
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  * .container main .section_three .section_three_hero img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 550px) {
  * .container main .section_three .section_three_title h1 {
    font-size: 30px;
    line-height: 45px;
  }
  * .container main .section_three .section_three_title p {
    font-size: 18px;
  }
  *
    .container
    main
    .section_three
    .section_three_title
    .section_three_title_call_img {
    padding: 20px;
  }
  *
    .container
    main
    .section_three
    .section_three_title
    .section_three_title_call_title
    h4 {
    font-size: 20px;
  }
  *
    .container
    main
    .section_three
    .section_three_title
    .section_three_title_call_title
    p {
    font-size: 18px;
  }
}
* .container main .section_four {
  background: #f4f0ec;
  border-radius: 70px;
  margin: 140px 5%;
  padding: 103px 50px 120px 50px;
}
* .container main .section_four h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
}
* .container main .section_four .section_four_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  margin-top: 47px;
}
* .container main .section_four .section_four_row .section_four_row_col {
  background: #ffffff;
  border-radius: 30px;
  padding: 48px 45px 45px 25px;
  display: grid;
  gap: 25px;
}
*
  .container
  main
  .section_four
  .section_four_row
  .section_four_row_col
  .section_four_row_col_top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
*
  .container
  main
  .section_four
  .section_four_row
  .section_four_row_col
  .section_four_row_col_top
  h4 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292f36;
}
*
  .container
  main
  .section_four
  .section_four_row
  .section_four_row_col
  .section_four_row_col_top
  p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.22px;
  color: #4d5053;
}
*
  .container
  main
  .section_four
  .section_four_row
  .section_four_row_col
  .section_four_row_col_bottom
  p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.22px;
  color: #4d5053;
}
@media screen and (max-width: 1200px) {
  * .container main .section_four .section_four_row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 850px) {
  * .container main .section_four .section_four_row {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 550px) {
  * .container main .section_four {
    padding: 103px 20px 32px 20px;
  }
  * .container main .section_four h1 {
    font-size: 30px;
    line-height: 45px;
  }
  * .container main .section_four p {
    font-size: 18px;
  }
  *
    .container
    main
    .section_four
    .section_four_row
    .section_four_row_col
    .section_four_row_col_top
    h4 {
    font-size: 22px;
  }
}
@media screen and (max-width: 400px) {
  * .container main .section_four .section_four_row .section_four_row_col {
    padding: 48px 10px;
  }
}
* .container main .section_five {
  padding: 0 5%;
  margin-top: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 550px) {
  * .container main .section_five {
    gap: 20px;
  }
}
* .container main .section_six {
  margin: 115px 5%;
}
* .container main .section_six h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
}
* .container main .section_six p {
  width: 60%;
  margin: auto;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-top: 20px;
}
* .container main .section_six .section_six_row {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 60px;
}
* .container main .section_six .section_six_row .section_six_row_col {
  width: 100%;
}
* .container main .section_six .section_six_row .section_six_row_col img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0px 80px 0px 0px;
}
*
  .container
  main
  .section_six
  .section_six_row
  .section_six_row_col
  .section_six_row_col_title {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
*
  .container
  main
  .section_six
  .section_six_row
  .section_six_row_col
  .section_six_row_col_title
  h3 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292f36;
}
*
  .container
  main
  .section_six
  .section_six_row
  .section_six_row_col
  .section_six_row_col_title
  p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
  text-align: left;
  margin: 0;
}
*
  .container
  main
  .section_six
  .section_six_row
  .section_six_row_col
  .section_six_row_col_title
  .section_section_six_row_col_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f4f0ec;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
*
  .container
  main
  .section_six
  .section_six_row
  .section_six_row_col
  .section_six_row_col_title
  .section_section_six_row_col_img:hover {
  background-color: #cda274;
}
*
  .container
  main
  .section_six
  .section_six_row
  .section_six_row_col
  .section_six_row_col_title
  .section_section_six_row_col_img:hover
  svg
  path {
  stroke: #e5e5e5;
}
@media screen and (max-width: 850px) {
  * .container main .section_six .section_six_row {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 550px) {
  * .container main .section_six h1 {
    font-size: 37px;
    line-height: 42px;
  }
  * .container main .section_six p {
    width: auto;
  }
}
* .container main .section_seven {
  background: #f4f0ec;
  padding: 140px 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
* .container main .section_seven :not(:last-of-type) {
  border-right: 1px solid #cda274;
}
* .container main .section_seven .section_seven_col h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  text-align: center;
  letter-spacing: 1.7px;
  color: #cda274;
}
* .container main .section_seven .section_seven_col p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
}
@media screen and (max-width: 1000px) {
  * .container main .section_seven {
    grid-template-columns: repeat(2, 1fr);
  }
  * .container main .section_seven :last-of-type {
    border-right: 1px solid #cda274;
  }
  * .container main .section_seven .section_seven_col h1 {
    font-size: 65px;
  }
}
@media screen and (max-width: 450px) {
  * .container main .section_seven {
    grid-template-columns: 1fr;
  }
  * .container main .section_seven :nth-of-type(1),
  * .container main .section_seven :nth-of-type(2),
  * .container main .section_seven :nth-of-type(3),
  * .container main .section_seven :nth-of-type(4) {
    border-right: none;
  }
}
* .container main .section_eight {
  margin: 130px 5% 100px;
}
* .container main .section_eight h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
}
* .container main .section_eight p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-top: 21px;
}
* .container main .section_eight .section_eight_row {
  border: inherit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 40px;
  margin-top: 70px;
}
* .container main .section_eight .section_eight_row .section_eight_row_col {
  padding: 21px 21px 40px;
  border: 1px solid #e7e7e7;
  border-radius: 62px;
  text-align: center;
  position: relative;
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col::after {
  position: absolute;
  top: 55%;
  left: 45px;
  padding: 10px;
  background-color: #fff;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.22px;
  color: #4d5053;
  border-radius: 8px 8px 8px 0px;
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col:nth-of-type(1)::after {
  content: "Kitchen Design";
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col:nth-of-type(2)::after {
  content: "Living Room";
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col:nth-of-type(3)::after {
  content: "Minimalist Interior";
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col:nth-of-type(4)::after {
  content: "Kitchen Design";
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col:nth-of-type(5)::after {
  content: "Living Room";
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col:nth-of-type(6)::after {
  content: "Minimalist Interior";
}
* .container main .section_eight .section_eight_row .section_eight_row_col img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
* .container main .section_eight .section_eight_row .section_eight_row_col h3 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.5px;
  color: #292f36;
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col
  .section_eight_row_col_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col
  .section_eight_row_col_title
  p {
  border: inherit;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin: 0;
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col
  .section_eight_row_col_title
  span {
  width: 52px;
  height: 52px;
  background: #f4f0ec;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col
  .section_eight_row_col_title
  span:hover {
  background-color: #cda274;
}
*
  .container
  main
  .section_eight
  .section_eight_row
  .section_eight_row_col
  .section_eight_row_col_title
  span:hover
  svg
  path {
  stroke: #e5e5e5;
}
@media screen and (max-width: 1400px) {
  * .container main .section_eight .section_eight_row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 930px) {
  * .container main .section_eight .section_eight_row {
    grid-template-columns: 1fr;
  }
  *
    .container
    main
    .section_eight
    .section_eight_row
    .section_eight_row_col::after {
    top: 70%;
  }
}
@media screen and (max-width: 700px) {
  * .container main .section_eight .section_eight_row {
    grid-template-columns: 1fr;
  }
  *
    .container
    main
    .section_eight
    .section_eight_row
    .section_eight_row_col::after {
    top: 60%;
  }
}
@media screen and (max-width: 540px) {
  * .container main .section_eight .section_eight_row {
    grid-template-columns: 1fr;
  }
  *
    .container
    main
    .section_eight
    .section_eight_row
    .section_eight_row_col::after {
    top: 50%;
  }
}
@media screen and (max-width: 540px) {
  * .container main .section_eight .section_eight_row {
    grid-template-columns: 1fr;
  }
  *
    .container
    main
    .section_eight
    .section_eight_row
    .section_eight_row_col::after {
    top: 40%;
  }
}
* .container main .section_nine {
  margin: 0 5%;
  background: #292f36;
  border-radius: 70px;
  padding: 100px 25%;
}
* .container main .section_nine h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #ffffff;
}
* .container main .section_nine p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #ffffff;
  margin-top: 9px;
}
* .container main .section_nine a {
  margin: auto;
  margin-top: 35px;
  width: 45%;
  padding: 12px 34px;
  background: #cda274;
  border: 2px solid #292f36;
  border-radius: 18px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 21px;
}
* .container main .section_nine a:hover {
  color: #cda274;
  background-color: #292f36;
  transition: all 0.4s;
  border-color: #cda274;
}
* .container main .section_nine a:hover svg path {
  stroke: #cda274;
}
* .container main .section_nine a span {
  align-self: center;
}
@media screen and (max-width: 1470px) {
  * .container main .section_nine a {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  * .container main .section_nine {
    padding: 100px 5%;
  }
}
@media screen and (max-width: 700px) {
  * .container main .section_nine h1 {
    font-size: 36px;
  }
  * .container main .section_nine p {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  * .container main .section_nine h1 {
    font-size: 26px;
    line-height: 40px;
  }
  * .container main .section_nine a {
    width: 80%;
    padding: 8px 8px;
  }
}
@media screen and (max-width: 340px) {
  * .container main .section_nine a {
    font-size: 18px;
  }
  * .container main .section_nine a svg {
    width: 22px;
  }
}
* .container footer {
  margin-top: 80px;
  padding: 50px 5% 0;
}
* .container footer .footer_top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 83px;
}
* .container footer .footer_top .footer_top_col p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-top: 23px;
}
* .container footer .footer_top .footer_top_col .footer_top_col_social {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 32px;
}
*
  .container
  footer
  .footer_top
  .footer_top_col
  .footer_top_col_social
  a
  svg
  path {
  transition: all 0.4s;
}
*
  .container
  footer
  .footer_top
  .footer_top_col
  .footer_top_col_social
  a
  svg:hover
  path {
  fill: #cda274;
}
* .container footer .footer_top .footer_top_col h3 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292f36;
}
* .container footer .footer_top .footer_top_col a {
  display: block;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
  text-decoration: none;
  margin-top: 30px;
  transition: all 0.4s;
}
* .container footer .footer_top .footer_top_col a:hover {
  color: #cda274;
}
* .container footer .footer_bottom {
  border-top: 1px solid #e5e5e5;
  padding: 35px 0;
  margin-top: 111px;
}
* .container footer .footer_bottom p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
}
* .container footer .footer_bottom p span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #cda274;
}
@media screen and (max-width: 1000px) {
  * .container footer .footer_top {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 680px) {
  * .container footer .footer_top {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  * .container footer .footer_top {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1920px) {
  * .container {
    width: 1920px;
    margin: auto;
  }
}
@media screen and (max-width: 320px) {
  * .container {
    width: 320px;
  }
}
@media screen and (min-width: 1920px) {
  * .container header {
    width: 64.5%;
    padding: 20px 3.5%;
    left: 50%;
    transform: translate(-50%);
  }
} /*# sourceMappingURL=style.css.map */
